/* Style the buttons that are used to open and close the accordion panel */
.ui-accordion-button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.ui-search-panel {
  flex-direction: row;
  padding: 0 18px;
  background-color: #9e9e9e26;
  display: none;
  overflow: hidden;
  margin-bottom: 10%;
}

.ui-seach-fields {
  width: 50%;
}

.ui-search-info {
  width: 50%;
}

.ui-course-info {
  white-space: pre-line;
}